<h1>Contract details</h1>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td class="bold">Project:</td>
    <td><%= link_to 'Project details', @legal_contract.project %></td>
  </tr>

  <tr>
    <td class="bold">Signed on:</td>
    <td><%= @legal_contract.signed_on %></td>
  </tr>

  <tr>
    <td class="bold">Revised on:</td>
    <td><%= @legal_contract.revised_on %></td>
  </tr>

  <tr>
    <td class="bold">Copy stored:</td>
    <td><%= @legal_contract.copy_stored %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_legal_contract_path(@legal_contract), class: "tiny button radius"  %>
<%= link_to 'Back', legal_contracts_path, class: "tiny button radius"  %>
