<h1>Team member details</h1>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td class="bold">First name:</td>
    <td><%= @team_member.person.first_name %></td>
  </tr>

  <tr>
    <td class="bold">Last name:</td>
    <td><%= @team_member.person.last_name %></td>
  </tr>

  <tr>
    <td class="bold">Email:</td>
    <td><%= @team_member.person.email %></td>
  </tr>

  <tr>
    <td class="bold">Phone:</td>
    <td><%= @team_member.person.phone_number %></td>
  </tr>

  <tr>
    <td class="bold">Company:</td>
    <td><%= @team_member.person.company.company_name %></td>
  </tr>

  <tr>
    <td class="bold">Team:</td>
    <td><%= @team_member.team %></td>
  </tr>

  <tr>
    <td class="bold">Experience level:</td>
    <td><%= @team_member.experience_level %></td>
  </tr>

  <tr>
    <td class="bold">Qualification:</td>
    <td><%= @team_member.qualification %></td>
  </tr>

  <tr>
    <td class="bold">Lead:</td>
    <td><%= @team_member.lead %></td>
  </tr>

  <% if team_members_projects?(@team_member) %>
      <tr>
        <td class="bold">Projects:</td>
        <td><%= link_to "All projects", team_member_projects_path(@team_member) %></td>
      </tr>
  <% else %>
      <tr>
        <td>Projects:</td>
        <td>Currently not assigned</td>
      </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_team_member_path(@team_member), class: "tiny button radius"  %>
<%= link_to 'Back', team_members_path, class: "tiny button radius"  %>
