<h1>Document details</h1>
<p id="notice"><%= notice %></p>


<table>
  <tr>
    <td class="bold">Project:</td>
    <td><%= link_to 'Project details', @document.project %></td>
  </tr>

  <tr>
    <td class="bold">Document type:</td>
    <td><%= @document.doc_type %></td>
  </tr>

  <tr>
    <td class="bold">Revision number:</td>
    <td><%= @document.revision_number %></td>
  </tr>
</table>




<%= link_to 'Edit', edit_document_path(@document), class: "tiny button radius"  %>
<%= link_to 'Back', documents_path, class: "tiny button radius"  %>
