<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row collapse">
      <div class="small-3 columns">
        <%= f.label :client, class: "right inline"  %>
      </div>
      <div class="small-7 columns left">
        <%= f.collection_select(:client_id, Client.all, :id, :person_name, {include_blank: true, :data => {:placeholder => "Select client"}}, {:class => "chosen-select", :tabindex => "-1", :style => "width:350px;", }) %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-9 small-offset-3 columns">
        <%= link_to "New Client", new_client_path, class: "tiny button radius" %>
        <%= link_to "New Company", new_company_path, class: "tiny button radius" %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-3 columns">
        <%= f.label :budget, class: "right inline"  %>
      </div>
      <div class="small-7 columns left">
        <%= f.text_field :budget %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-3 columns">
        <%= f.label :delivery_deadline, class: "right inline"  %>
      </div>
      <div class="small-7 columns left">
        <%= f.text_field :delivery_deadline %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-3 columns">
        <%= f.label :status, class: "right inline"  %>
      </div>
      <div class="small-7 columns left">
        <%= f.text_field :status %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-9 small-offset-3 columns">
        <%= f.submit %>
      </div>
    </div>
<% end %>
